/* El contenedor principal */
.about__contact {
  height: 100%;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* El contenedor de los link */
.about__contact_container {
  display: grid;
  grid-template-columns: 3rem;
  grid-template-rows: 2rem;
  grid-auto-flow: row;
  grid-auto-rows: 2rem;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 0.2rem;
  position: relative;
  z-index: 1;
}

/* Los links */
.about__contact_link {
  font-size: 1.5rem;
  color: var(--color_inactive);
  transition-property: color, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.about__contact_link:hover {
  transform: scale(0.9);
}
.about__contact_link--github:hover {
  color: white;
}
.about__contact_link--linkedin:hover {
  color: rgb(10, 99, 188);
}
.about__contact_link--mail:hover {
  color: rgb(188, 10, 10);
}

/* El label */
.about__contact_label {
  width: max-content;
  position: absolute;
  left: -0.65rem;
  top: calc(100% + 1.5rem);
  transform: rotate(269deg);
  font-size: 1rem;
  color: white;
}
/* Según el idioma */
.about__contact_label--en {
  left: -0.65rem;
  top: calc(100% + 1.5rem);
}
.about__contact_label--es {
  left: -1.55rem;
  top: calc(100% + 2.5rem);
}

.about__contact_label::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.75px);
  right: calc(100% + 0.2rem);
  width: 6rem;
  height: 1.5px;
  background-color: gray;
}

/* Responsive */
@media screen and (max-width: 1100px) {
  /* El contenedor principal */
  .about__contact {
    justify-content: flex-start;
    grid-area: about__contact;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
  /* El contenedor de los link */
  .about__contact_container {
    display: grid;
    grid-template-columns: 3rem;
    grid-template-rows: 2.5rem;
    grid-auto-rows: 2.5rem;
  }

  /* Los links */
  .about__contact_link {
    font-size: 2rem;
  }

  /* El label */
  .about__contact_label {
    font-size: 1.2rem;
  }
  /* Según el idioma */
  .about__contact_label--en {
    left: -0.55rem;
    top: calc(100% + 2rem);
  }
  .about__contact_label--es {
    left: -1.68rem;
    top: calc(100% + 3.3rem);
  }
  .about__contact_label::before {
    content: "";
    position: absolute;
    top: calc(50% - 0.75px);
    right: calc(100% + 0.2rem);
    width: 6rem;
    height: 1.5px;
    background-color: gray;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}
