.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


/* El background animado */
.fancyBg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: silver;
  z-index: var(--animatedBg);
}
.fancyBg__shape {
  transform-style: preserve-3d;
  /* perspective: 10rem; */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .3),
  inset 5px 5px 7px rgba(255, 255, 255, .4);
  --animation-duration: 3.3s;
}
.fancyBg__shape--rectangle {
  width: 25vw;
  height: 7vw;
  background-color: var(--color1);
  border-radius: .3rem;
  position: absolute;
  left: 40%;
  top: 40%;
  perspective: 1rem;
  animation: rectangleKF var(--animation-duration) infinite ease-in-out;
}
.fancyBg__shape--circle {
  width: 15vw;
  height: 15vw;
  background-color: var(--color2);
  border-radius: 50%;
  position: absolute;
  left: 30%;
  top: 45%;
  perspective: 10rem;
  animation: circleKF var(--animation-duration) infinite ease;
}
.fancyBg__shape--square {
  width: 8vw;
  height: 8vw;
  background-color: var(--color3);
  border-radius: .3rem;
  position: absolute;
  left: 55%;
  top: 43%;
  perspective: 15rem;
  animation: squareKF var(--animation-duration) infinite ease-in;
}

/* Animaciones */
@keyframes rectangleKF {
  0% {
    left: 40%;
  }
  50% {
    left: 28%;
  }
  100% {
    left: 40%;
  }
}
@keyframes circleKF {
  0% {
    top: 45%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 45%;
  }
}
@keyframes squareKF {
  0% {
    left: 55%;
    top: 43%;
  }
  50% {
    left: 40%;
    top: 30%;
  }
  100% {
    left: 55%;
    top: 43%;
  }
}

/* El contenedor de la página arriba del background animado */
.page {
  position: relative;
  z-index: var(--pageContainer);
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: transparent;
  backdrop-filter: blur(.3rem);
}

/* Responsive */
@media screen and (max-width: 900px) {
  .fancyBg__shape--rectangle {
    /* width: 25vw;5
    height: 7vw;1.4 */
  }
  .fancyBg__shape--circle {
    /* width: 15vw;3
    height: 15vw; */
  }
  .fancyBg__shape--square {
    /* width: 8vw;1.6
    height: 8vw; */
  }
}

@media screen and (max-width: 1200px) {
  .fancyBg__shape--rectangle {
    width: 30vw;
    height: 8.4vw;
  }
  .fancyBg__shape--circle {
    width: 18vw;
    height: 18vw;
  }
  .fancyBg__shape--square {
    width: 9.6vw;
    height: 9.6vw;
  }
}

@media screen and (max-width: 900px) {
  .fancyBg__shape--rectangle {
    width: 35vw;
    height: 9.8vw;
  }
  .fancyBg__shape--circle {
    width: 21vw;
    height: 21vw;
  }
  .fancyBg__shape--square {
    width: 11.2vw;
    height: 11.2vw;
  }
}

@media screen and (max-width: 768px) {
  .fancyBg__shape--rectangle {
    width: 40vw;
    height: 11.2vw;
  }
  .fancyBg__shape--circle {
    width: 24vw;
    height: 24vw;
  }
  .fancyBg__shape--square {
    width: 12.8vw;
    height: 12.8vw;
  }
}

@media screen and (max-width: 500px) {
  .fancyBg__shape--rectangle {
    width: 45vw;
    height: 12.6vw;
  }
  .fancyBg__shape--circle {
    width: 27vw;
    height: 27vw;
  }
  .fancyBg__shape--square {
    width: 14.4vw;
    height: 14.4vw;
  }
}

@media screen and (max-width: 400px) {
  .fancyBg__shape--rectangle {
    width: 50vw;
    height: 14vw;
  }
  .fancyBg__shape--circle {
    width: 30vw;
    height: 30vw;
  }
  .fancyBg__shape--square {
    width: 16vw;
    height: 16vw;
  }
}
