.p_sections {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
/* .p_sections--about {
  background-image: linear-gradient(var(--color1), var(--color2));
}
.p_sections--work {
  background-image: linear-gradient(silver, cyan);
}
.p_sections--skills {
  background-image: linear-gradient(navy, rosybrown);
} */
