/* El contenedor de toda la sección de Skills */
.p_sections--skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(180deg, var(--color4), #eee); */
}

/* El título */
.skills__title {
  width: 100%;
  max-width: 45rem;
  line-height: 0.85;
  padding: 2rem 3rem;
  font-size: 4rem;
  color: var(--color1);
  text-align: center;
}

/* El texto debajo del título */
.skills__title__text_below {
  font-size: 2rem;
  display: inline-block;
  transform: translateY(-1rem);
  color: var(--color2);
}

/* El contenedor de las skills */
.skills__skills_container {
  width: 100%;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
