/* La sección del idioma */
.top_bar__language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* El contenedor del botón para cambiar de idioma */
.top_bar__language__container {
  padding: 0.3rem 0.9rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

/* Los iconos del botón para cambiar de idioma */
.top_bar__language_icon {
  font-size: 1.6rem;
  color: white;
}

/* El icono de flecha */
.top_bar__language_icon--arrow {
  font-size: 1.2rem;
  transition: transform 0.4s linear;
}
.top_bar__language_icon--arrow_down {
  transform: rotate(180deg);
}

/* El contenedor de la lista plegable de idiomas */
.top_bar__language_list {
  --language_list_radius: 0.3rem;
  border-radius: var(--language_list_radius);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 100%;
  top: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.13),
  2px 2px 4px rgba(0, 0, 0, 0.125);
  overflow: hidden;
  transform: translate(-0.5rem, -1rem);
  opacity: 0;
  height: 0;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  z-index: var(--zI_popups);
}
.top_bar__language_list--active {
  transform: translate(-0.5rem, 0);
  opacity: 1;
  height: auto;
}

/* Las opciones de idiomas */
.top_bar__language_opt {
  --language_opt_padding_y: 0.25rem;
  font-size: 0.8rem;
  cursor: pointer;
  padding: var(--language_opt_padding_y) 0.6rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.top_bar__language_opt:first-child {
  padding-top: calc(var(--language_opt_padding_y) * 1.5);
  border-top-left-radius: var(--language_list_radius);
  border-top-right-radius: var(--language_list_radius);
}
.top_bar__language_opt:last-child {
  padding-bottom: calc(var(--language_opt_padding_y) * 1.5);
  border-bottom-left-radius: var(--language_list_radius);
  border-bottom-right-radius: var(--language_list_radius);
}
.top_bar__language_opt:hover {
  background-color: rgba(0, 0, 0, 0.125);
}

/* Las banderas de las opciones de idiomas */
.top_bar__language_opt_flag {
  width: 1.1rem;
}

/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 700px) {
  /* Los iconos del botón para cambiar de idioma */
  .top_bar__language_icon {
    font-size: 1.8rem;
  }
  
  /* El icono de flecha */
  .top_bar__language_icon--arrow {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}
