.top_bar__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Los links */
.top_bar__contact_link {
  font-size: 1.2rem;
  transform: scale(1);
  transition: transform 0.2s ease-out;
}
.top_bar__contact_link:hover {
  transform: scale(1.2);
}
.top_bar__contact_link--github {
  color: black;
}
.top_bar__contact_link--linkedin {
  color: rgb(10, 99, 188);
}
.top_bar__contact_link--mail {
  color: rgb(188, 10, 10);
}

/* El label */
.top_bar__contact_label {
  width: max-content;
  position: relative;
  font-size: 1rem;
}
