/* Contenedor de los grupos de tarjetas y sus títulos */
.skills_card_group {
  --skill_card_size: 13rem;
  width: calc(var(--skill_card_size) + 1rem);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

/* Contenedor del título de los grupos de tarjetas */
.skills_card_group__title_container {
  width: 100%;
  text-align: left;
  background-color: var(--color1_light);
  border-radius: 1000px;
  padding: 0.5rem;
}

/* Títulos de los contenedores de tarjetas */
.skills_card_group__title_container {
  color: var(--color1);
  font-size: 1rem;
  border-radius: 1000px;
  padding: 0.5rem;
}

/* Contenedor de los grupos de tarjetas */
.skills_card_group__card_container {
  width: 100%;
  --skill_card_radius: 0.3rem;
  border-radius: var(--skill_card_radius);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
